# Project JDK
language: java
jdk:
  - openjdk11

addons:
  apt:
    packages:
      - doxygen

sudo: enabled

before_install:
      - sudo apt-get update
      - sudo apt-get install -y doxygen
      
script:
    - doxygen Doxyfile

deploy:
    provider: pages
    skip-cleanup: true
    github-token: $GH_REPO_TOKEN
    keep-history: true
    on:
        branch: main
    local-dir: documentation
    repo: joanemannion1/Practica6_Junit/docs
    target-branch: master
